@inherits LayoutComponentBase
@inject IJSRuntime JS

<PageTitle>Pizza Kzn</PageTitle>

<div class="main">
    <AppBarComponent></AppBarComponent>
    <div class="content px-4 container-fluid bg-dark">
        <div class="row">
            @Body
        </div>
    </div>
  
</div>
